.alumni-dash{

  .nav{

  }

  .welcome-text{

  }

   .my-events{
     h2{

     }

     .events-sect{

       .f-sect{

       }

       .add-more{
         margin: 5%;

         .icon{

         }
       }

     }




   }

   .registered-events{

     .reg-sect{

     }

     .view-upcoming{

     }

   }





}



h2{

}

.cards-section{
  display: flex;
  flex-flow: row wrap;
  gap : 2%;
  justify-content: space-around;
  align-items: center;

}