.alumni-dash{

  .nav{

  }

  .welcome-text{

  }

   .my-events{
     h2{

     }

     .events-sect{

       .f-sect{

       }

       .add-more{
         margin: 5%;

         .icon{

         }
       }

     }




   }

   .registered-events{

     .reg-sect{

     }

     .view-upcoming{

     }

   }





}



h2{

}

.cards-section{
  display: flex;
  flex-flow: row wrap;
  gap : 2%;
  justify-content: space-around;
  align-items: center;

}

.dashboard{
  display: flex;
  flex-direction: column;
}

.filters{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

  li{
    font-weight: 600;
    cursor: pointer;
    font-weight: bold;

    &:hover{
      text-decoration: underline;
    }


  }

  li:nth-child(1){

    &:hover{
      text-decoration: none;
    }
  }
}

.record{
  width:60%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}