.usage{
    display:flex;
    flex-direction:column;

    h1{
        
    }

    .usage-1{
        display:flex;
        justify-content:space-around;

    .number{

        color:white;
        font-weight:bold;
        background:#DCBF28;
        width:fit-content;
        padding:1%;
        border-radius:8%;
        margin-bottom:1%;


        .number-txt{


        }
    }

    }


    .usage-2{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-top:4%;

        .usage-head{
            font-size: 21px;
            margin-bottom: 2%;
            font-weight: bold;

        }

        .bar{
            width: 60%;
            margin-left: 17%;

        }

    }


}