.top-navbar {
  background-color: #aaaaaa85; 
  color: #fff; // Text color
  padding: 30px 20px;
  padding-bottom: 20px;
  padding-top: 38px;
  position:absolute;
  top: -5%; 
  margin-right: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between; // Align items to the left and right

  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 4%;

    li {
      margin: 0 20px; // Adjust spacing between items
      .a {
        text-decoration: none;
        color: #fff;
        font-weight: 600;
        font-size: 18px; // Increase the font size

        &:hover {
          text-decoration: underline;
        }
      }
    }

  

    .home {
      order: 2;
    }

    .events {
      order: 3;
    }

    .about-us {
      order: 4;
    }

    .account {
      order: 5;
    }
  }

  .logo {
    display: flex;
    color: #FFD700;
    align-items: center;
    font-weight: 800;
    font-size: 18px; // Adjust font size as needed
  }
}
