
.dash{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;


    .dash-sidebar{
        flex:2;
    }

    .dash-main{
        flex:6;
        
    }
}





.sidebar {
    background-color: #DCBF28;
    height: 100%;
    
    h1{
        margin-top: 0;
        color: white;
        padding-top: 20%;
    }
  
    .options-list {
      list-style: none;
      padding: 0;
      margin: 0;
      padding-top: 8%;
  
      li {
        a {
          text-decoration: none;
          color: white;
          display: block;
          padding: 10px;
          transition: color 0.3s, background-color 0.3s;
  
          &:hover {
            color:#008080;
            text-decoration: underline;
          }
        }
      }
    }
  }
  